body {
  font-family: 'Roboto', sans-serif;
  background-color: #ededed !important;
}

.main {
  display: flex;
  justify-content: center;
  margin: 80px 5% 50px;
}

@media (min-width: 600px) {
  .main {
    margin: 80px 10% 50px;
  }
}

@media (min-width: 1200px) {
  .main {
    margin: 80px 20% 50px;
  }
}
